<ul>
  <li *ngFor="let user of users">
    <h1>
      {{ user.title }}
    </h1>
    <img width="200px" height="200px" src="{{ user.image }}" />
  </li>
</ul>

<!-- title: 'test product',
                    price: 13.5,
                    description: 'lorem ipsum set',
                    image: 'https://i.pravatar.cc',
                    category: 'electronic' -->

<form #usersForm="ngForm" (ngSubmit)="getUsersFormData(usersForm.value)">
  <input type="text" ngModel name="title" placeholder="Enter title" />
  <br /><br />
  <input type="text" ngModel name="price" placeholder="Enter price" />
  <br /><br />
  <input
    type="text"
    ngModel
    name="description"
    placeholder="Enter description"
  />
  <br /><br />
  <input type="text" ngModel name="image" placeholder="Enter image" />
  <br /><br />
  <input type="text" ngModel name="category" placeholder="Enter category" />

  <button>Add New Product</button>
</form>
